<!DOCTYPE html>
<html>
  <head>
    <title>Lab2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Edit profile" , edit_user_registration_path %>
      <%= link_to "Sign out" , destroy_user_session_path, method: :delete  %>
      <% else %>
        <%= link_to "Sign up " , new_user_registration_path %>
      <%= link_to "Sign in" , new_user_session_path %>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
