
<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
 

      <th> Role</th>
      <th>Email</th>
      <th colspan="3"></th>
      <td><%= user.role.name %> </td>
      <td><%= user.email %> </td>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
